@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-black.otf);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-black-italic.otf);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-bold-italic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-extrabold.otf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-extrabold-italic.otf);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-thin.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-thin-italic.otf);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-semibold-italic.otf);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-regular-italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-light-italic.otf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(proxima-nova-semibold.otf);
  font-style: normal;
  font-weight: 600;
}
